{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Jumbotron header start -->
<div class="jumbotron jumbotron-fluid homepage-banner">
  <div class="container">
    <h1 class="display-4 text-light banner-title">codejob.ie</h1>
    <p class="lead text-light">Give your remote career a boost and join the largest marketplace for developers!</p>
  </div>
</div>

<!-- Statistics start -->
<section class="section-statistics bg-primary pt-3">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-6">
              <div class="text-center text-light">
                  <h3><i class="fa fa-users"></i></h3>
                  <h4>{{ user_count }}</h4>
                  <p>Users</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-6 text-light">
              <div class="text-center">
                  <h3><i class="fa fa-code"></i></h3>
                  <h4>{{ job_count }}</h4>
                  <p>Coding Jobs</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-6 text-light">
              <div class="text-center">
                  <h3><i class="fa fa-user"></i></h3>
                  <h4>{{ candidate_count }}</h4>
                  <p>Candidates</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-6 text-light">
              <div class="text-center">
                  <h3><i class="fa fa-building"></i></h3>
                  <h4>{{ recruiter_count }}</h4>
                  <p>Recruiters</p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Recent jobs start-->
<section class="section-recent-jobs">
    <h2 class="text-center text-uppercase my-4">Recent jobs</h2>
    <div class="w-50 mx-auto">
        {% for job in recent_job_list %}
        <div class="row mb-3 py-3 bg-light">
            <div class="col-1 candidate-icon">
                <i class="fa fa-code"></i>
            </div>
            <div class="col-10 job">
                <a href="{% url 'job_profile' job.id %}"><h5>{{ job.title }}</h5></a>
                <div>
                  <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-building mr-2"></i>{{ job.author.recruiterprofile.company_name }}</li>
                      <li class="list-inline-item"><i class="fa fa-calendar mr-2"></i>Added: {{ job.date_added }}</li>
                  </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Testimonials start -->
<section class="section-testimonials bg-success">
  <div class="row">
      <div class="col-8 offset-2">
          <h2 class="text-center my-4 text-uppercase text-light"><strong>Testimonials</strong></h2>
          <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner mt-4">
              <div class="carousel-item text-center active">
                  <div class="testimonial-img-wrapper p-2 border rounded-circle m-auto">
                    <!--Image credits:
                    https://pixabay.com/nl/photos/meisje-lachend-vrouwelijke-vrouw-872149/ 
                    UN Free-Photos / https://pixabay.com/nl/users/free-photos-242387/-->
                      <img class="d-block w-100 rounded-circle" src="https://django-codejob-ie.s3.eu-central-1.amazonaws.com/girl-872149.jpg" alt="Lara Johnson">
                  </div>
                  <h5 class="mt-4 text-uppercase text-light">Lara Johnson</h5>
                  <h6 class="text-light">Full Stack Developer</h6>
                  <p class="text-light mt-3">I found my dream job within a month after publishing my profile at codejob.ie. For candidates the service is totally free. Therefore I highly recommend codejob.ie to find your dream job.</p>
              </div>
              <div class="carousel-item text-center">
                  <div class="testimonial-img-wrapper p-2 border rounded-circle m-auto">
                    <!--Image credits:
                    https://pixabay.com/nl/photos/baard-gezicht-man-model-snor-1845166/ 
                    UN Pexels / https://pixabay.com/nl/users/pexels-2286921/ -->
                      <img class="d-block w-100 rounded-circle" src="https://django-codejob-ie.s3.eu-central-1.amazonaws.com/beard-1845166.jpg" alt="John Smith">
                  </div>
                  <h5 class="mt-4 text-uppercase text-light">John Smith</h5>
                  <h6 class="text-light">Recruiter</h6>
                  <p class="text-light mt-3">I am using codejob.ie for about a year now. The candidates here are very diverse. So for every type of development I am able to find great candidates with the right experience. codejob.ie is a great resource which I certainly recommend to other recruiters.</p>
              </div>
            </div>
              <div class="prev-next-indicators">
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
          </div>
      </div>            
  </div>
</section>
{% endblock %}