{% extends "base.html" %}
{% load static %}

{% block content %}

 <div class="container">
        <h2 class="mt-2">Edit candidate profile</h2>
        <hr>
        <img src="{{ user.profile_image.url }}" alt="{{ user.first_name }} {{ user.last_name }}">
        <form action="{% url 'edit_candidate_profile' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            
            {{ user_form|crispy }}

            {{ profile_form|crispy }}
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>  
{% endblock %}