{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Welcome candidate {{ first_name }}</h1>

 <div class="container">
        <img src="{{ user.profile_image.url }}">
        <form action="{% url 'edit_recruiter_profile' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            
            {{ user_form|crispy }}

            {{ profile_form|crispy }}
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>  
{% endblock %}