{% extends "base.html" %}
{% load static %}

{% block content %}  
 <div class="container">
    <h1>Edit work experience</h1>
    <hr>
        <form class="mb-3" action="{% url 'edit_work_experience' %}" method="POST" novalidate>
            {% csrf_token %}

             {{ form|crispy }} 
        
            
            <button id="add-button" type="submit" class="btn btn-primary">Add</button>
        </form>

        <ul class="list-group t20">
            {% for item in experience_list %}
                <div class="card mb-3">
                    <div class="card-body">

                    {{ item.job_title}}
                    {{ item.location}}
                    {{ item.company}}
                    {{ item.start_date}}
                    {{ item.end_date}}
                    <a href="{% url 'delete_work_experience' item.id %}" class="close float-right">
                        <span aria-hidden="true">&times;</span></a>
                </div>
            </div>

            {% endfor %}
        </ul> 

    </div>  
{% endblock %}